.jindu{
	border: 1px solid #5bc0de;
	margin: 15px 5px 15px 5px;
	overflow: hidden;
	border-radius: 12px;
	-webkit-box-shadow: inset 1px 1px 5px #5bc0de;
	box-shadow: inset 1px 1px 5px #5bc0de;
}

.jindu .jditem{
	float: left;
	width: 20%;
	font-size: 13px;
}

.jindu .jditem span{
	height: 30px;
	line-height: 32px;
	text-align: center;
	display: block;
	border-right: 1px dotted #ccc;
}

.jded{
	background: #5bc0de;
	color: #fff;
}

.mytask{
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 8px;
	border-radius: 8px;
	overflow: hidden;
}

.task-title{
	float: left;
	font-size: 13px;
	font-weight: bold;
	line-height: 25px;
}

.task-tools{
	float: right;
}

.task-tools a{
	
}



.task-success{
	background: #d9edf7;
}

.task-fail{
	background: #fcf8e3;
}

.panel-group .panel .comed{
	background: #d9edf7;
}

.jda{
	font-weight: bold;
	/*display: block;*/
	overflow: hidden;
	line-height: 23px;
}

.jdtitle{
	float: left;
}

.jdstatus{
	float: right;
	margin-top: 3px;
}

.jdstatus a{
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #ccc;
	color: #5a5a5a;
}


.jdtable{
	font-size: 13px;
}

.jdtable th{
	background: #f1f1f1;
}

.main_head{
	margin-top: 10px;
	height: 40px;
	line-height: 45px;
	overflow: hidden;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.project_title{
	margin-left: 8px;
	float: left;
	font-size: 18px;
	font-weight: bold;
}
.project_tools{
	margin-top: 4px;
	margin-right: 8px;
	float: right;

}

.project_tools a{
	margin-right: 5px;
}

.rw-tools{
	padding: 5px;
	background: #f1f1f1;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.jdtitle{
	font-weight: normal;
	color: #337AB7;
	float: left;
	font-size: 13px;
}

.jdstatus{

}


.jdstatus .dwarning{
	color: #f0ad4e;
}

.jdstatus .dprimary{
	color: #286090;
}

.i-order{
	text-align: center;
	width: 35px;
	height: 23px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f9f9f9;
}

.panel-default>.jdok{
	background: #D8F0F7;
}



.time_shaft{
	overflow: hidden;
}

.time_shaft ul {
	margin-left: 80px;
	list-style: none;
	overflow: hidden;
}

.time_shaft ul li{
	height: 130px;
	overflow: hidden;
}

.time_shaft ul .shaft—start{
	height: 70px;
	overflow: hidden;
	margin-bottom: -5px;
}

.time_shaft ul li .date{
	width: 100px;
	overflow: hidden;
	height: 130px;
	line-height: 130px;
	float: left;
	font-size: 20px;
	color: #337ab7;
	margin-right: 15px;
}

.time_shaft ul li .shaft{
	float: left;
	width: 40px;
}


.time_shaft ul li .shaft .shaft_top{
	height: 55px;
	background: #337ab7;
	margin: 0px auto;

	width: 11px;
	border-left: 5px solid #5bc0de;
	border-right: 5px solid #5bc0de;

	margin-bottom: -8px;
}

.time_shaft ul li .shaft .shaft_middle{
  width: 40px;
  margin: 0px auto;
  height: 40px;
  line-height: 28px;
  border: 5px solid #5bc0de;
  color: #fff;
  font-size: 12px;
  text-align: center;
  background: #337ab7;
  border-radius: 50%;
  overflow: hidden;
}

.time_shaft ul li .shaft .shaft_middle .num{
	font-size: 20px;
	font-family: 'Times New Roman';
	font-style:oblique;
}

.time_shaft ul li .shaft .shaft_bottom{
    width: 11px;
    border-left: 5px solid #5bc0de;
    border-right: 5px solid #5bc0de;
    margin: 0px auto;
    background: #337ab7;
    height: 55px;
    margin-top: -5px;
}




.time_shaft ul li .project_item{
    width: 500px;
    float: left;
    margin-left: 15px;
    height: 120px;
    border: 1px solid #5bc0de;
    border-radius: 8px;
}

.project_con{
	padding: 10px;
	overflow: hidden;
}

.project_con .user-label{
	display: block;
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
	border: 1px solid #ccc;
	padding: 3px 6px;
	border-radius: 4px;
}

.process_body{
	margin: 30px 10px;
}

.shaft—end{
	height: 70px;
}

.process_tools{
	border-radius: 8px;
	background: #f5f5f5;
	padding: 5px;
	text-align: right;
    border-bottom: 1px solid #e3e3e3;
}

.process_tools a{
	margin-right: 5px;
	color: #333;
}
.ordersort{
	background: #f1f1f1;
	border: 1px solid #999;
	font-size: 12px;
	width: 20px;
	text-align: center;
	color: #333;
	border-radius: 2px;
}


.look_item{
	background: #f1f1f1;
	padding: 5px;
	margin: 10px;
}

.lookkey{
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #898989;
}

.act_checked{
	padding: 10px;
	margin: 10px;
	margin-bottom: 30px;
}

.lookrow{
	line-height: 26px;
}